<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <title>Information</title>
</head>
<body>
    <h1>{{products.productname}} </h1>
    <a href="{% url 'wishlist:index' %}">Home</a> | <a href="{% url 'login:logout' %}">Logout</a>
    <hr>
    <br>
    <h5>Users who added this product/item under their wishlist:</h5>
    {% for users in products.join.all %}
        {{product.users}}
    {% endfor %}
</body>
</html>
